@import "@/styles/_media-mixin.scss";
@import "@/styles/_mixins.scss";

.Header {
  padding: 36px 0 0;

  @include media-xs {
    padding: 30px 0 0;
  }
}

.Container {
  display: flex;
  align-items: flex-start;
}

.Logo {
  width: 200px;
  height: auto;

  @include media-xs {
    width: 155px;
  }
}

.LangWrapper {
  position: absolute;
  right: 0;
  top: 0;
  padding: 14px 16px;
  z-index: 1;

  display: flex;
  align-items: flex-start;
  column-gap: 8px;

  border-radius: 46px;
  background: #fff;
  box-shadow: 0px 990px 277px 0px rgba(84, 197, 248, 0),
    0px 634px 253px 0px rgba(84, 197, 248, 0.01), 0px 356px 214px 0px rgba(84, 197, 248, 0.05),
    0px 158px 158px 0px rgba(84, 197, 248, 0.09), 0px 40px 87px 0px rgba(84, 197, 248, 0.1);

  @include media-xs {
    right: 30px;
  }

  &.Active {
    border-radius: 6px;
  }
}

.LangList {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  list-style: none;
}

.LangItem {
  width: 55px;

  display: none;
  align-items: center;
  column-gap: 4px;

  cursor: pointer;

  &.Active {
    display: flex;
  }
}

.LangText {
  color: #170f49;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}

.LangFlag {
  width: 18px;
  height: auto;
}

.LangArrow {
  margin-top: 3px;

  width: 14px;
  height: auto;

  cursor: pointer;
  transform: rotate(180deg);
  transition: all 0.2s ease;

  &.Active {
    transform: rotate(0deg);
  }
}
